﻿@*@model  List<Projeto_Estoque.Elementos.DTO.ProdutoDTO>*@
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/jQueryMask/jquery.mask.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>


    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />


    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="CarregarProdutos" class="navbar-brand">Projeto Estoque</a>
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Cadastro" asp-action="Cadastro">Cadastro</a></li>
                    <li><a asp-area="" asp-controller="Relatorio" asp-action="Relatorio">Relatório</a></li>
                    <li><a asp-area="" asp-controller="Transacao" asp-action="Transacao">Perda/Venda</a></li>
                    <li><a asp-area="" asp-controller="Login" asp-action="Sair">Sair</a></li>
                    <li>
                        <form  method="post" action="/Consulta/Consulta">
                            <div class="form-group">                                
                                <div style="margin: 10px;">
                                    <input id="textinput" name="nomeProduto" type="text" style="border: 1px solid #ccc;border-radius: 4px;" />
                                    <button>Pesquisar</button>
                                </div>
                            </div>
                        </form>
                    </li>
</ul>
                <span class="fa fa-search form-control-feedback"></span>
                <div class="form-group" style="float:right;align-items: center;padding: 10px;">
                    
                    @*@{
                    Html.BeginForm("ConsultaProduto", "Consulta", FormMethod.Get))
                    {
                        
                        @Html.TextBoxFor(a => a[0].Nome)
                        <button  type="submit"><i class="glyphicon glyphicon-search"></i></button>

                    }*@

                </div>

            </div>
          
        </div>
    </nav>

    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        @RenderBody()
        <hr style="margin-top: 10%;"/>
        <footer>
            <p>&copy; 2020 - Projeto_Estoque</p>
        </footer>
    </div>

   
    @RenderSection("Scripts", required: false)
</body>
</html>
