﻿@model Projeto_Estoque.Elementos.DTO.ProdutoDTO
@{
    Layout = "_LayoutLogado";
}
@{
    ViewData["Title"] = "Cadastro de Produtos";


}
@{
    Usuario usuario = Usuario.GetInstance();
}

<h2>@ViewData["Title"]</h2>
<h3 style="margin-top:3%">@ViewData["Message"]</h3>
<h3 style="margin-top:3%" id="MensagemCadastroProduto"></h3>
<script>
    $(document).ready(function () {
        // your code

        var str = window.location.href;
        var parametro = "Sucesso";
        var aux = str.substring(str.length, str.length - parametro.length);
        $("#MensagemCadastroProduto").html("");
        var params = getSearchParameters();
        if (aux == 'Sucesso')
            $("#MensagemCadastroProduto").html("Produto Cadastrado com sucesso!");

        //else if (JSON.stringify(params).length >2 'undefined' || params != null) {
        //    $.ajax({
        //        type: "GET",
        //        url: "/Cadastro/ConsultarProduto/",
        //        contentType: 'application/json',
        //        data: parametro,
        //        success: function (data) {


        //            $('#NomeProduto').text = data.nome;
        //            $('#CategoriaProduto').text = data.categoria;
        //            $('#CodigoProduto').text = data.codigo;
        //            $('#LoteProduto').text = data.lote;
        //            $('#ValorProduto').val = data.valor;
        //            $('#DescricaoProduto').text = data.descricao;
        //            $('#LoteProduto').text = data.lote;

                    @*@if (usuario.TipoPerfil != TipoPerfil.Administrador)
                        {

                              $('#NomeProduto').attr('disabled');
                        $('#CategoriaProduto').attr('disabled');
                        $('#ValorProduto').attr('disabled');
                        $('#DescricaoProduto').attr('disabled');

                        }*@

            //    },

            //});
       // }
     

    });
</script>
@using (Html.BeginForm("CadastrarProduto", "Cadastro", FormMethod.Post))
{
    @if (usuario.TipoPerfil ==(int) Projeto_Estoque.Enumerador.TipoPerfil.Usuario)
    {
<div style="display:grid; width:50%">

    @Html.TextBoxFor(a => a.IdProduto, new { id = "IdProduto", style = "visibility:hidden" })


    @Html.Label("Produto")
    @Html.TextBoxFor(a => a.Nome, new { id = "NomeProduto", disabled = "true" })
    @Html.ValidationMessageFor(x => x.Nome)

    @Html.Label("Codigo")
    @Html.TextBoxFor(a => a.Codigo, new { id = "CodigoProduto", disabled = "true" })


    @Html.Label("Lote")
    @Html.TextBoxFor(a => a.Lote, new { id = "LoteProduto", disabled = "true" })
    @Html.ValidationMessageFor(x => x.Lote)

    @Html.Label("Quantidade")
    @Html.TextBoxFor(a => a.Quantidade, new { id = "QuantidadeProduto", disabled = "true" })
    @Html.ValidationMessageFor(x => x.Quantidade)

    @Html.Label("Categoria")
    @Html.TextBoxFor(a => a.Categoria, new { id = "CategoriaProduto", disabled = "true" })
    @Html.ValidationMessageFor(x => x.Categoria)


    @Html.Label("Data Entrada")
    @Html.EditorFor(a => a.DataEntrada, "{0:dd/MM/yyyy}", new { id = "DataEntradaProduto", disabled = "true" })
    @Html.ValidationMessageFor(x => x.DataEntrada)

    @Html.Label("Preço")
    @Html.TextBoxFor(a => a.Valor, new { @class = "money", id = "ValorProduto", disabled = "true" })
    @Html.ValidationMessageFor(x => x.Valor)

    @Html.Label("Descrição")
    @Html.TextAreaFor(a => a.Descricao, new { style = "Resize:none; overflow: hidden;height: 160%", id = "DescricaoProduto", disabled = "true" })
    @Html.ValidationMessageFor(x => x.Descricao)


    <button id="btnSalvarProduto" type="submit" style="margin-top: 10%; width:25%; visibility:hidden">Salvar  </button>
</div>
    }
    else if ((usuario.TipoPerfil ==(int) Projeto_Estoque.Enumerador.TipoPerfil.Administrador))
    {
<div style="display:grid; width:50%">
    @Html.TextBoxFor(a => a.IdProduto, new { id = "IdProduto", style = "visibility:hidden" })

    @Html.Label("Produto")
    @Html.TextBoxFor(a => a.Nome, new { id = "NomeProduto" })
    @Html.ValidationMessageFor(x => x.Nome)

    @Html.Label("Codigo")
    @Html.TextBoxFor(a => a.Codigo, new { id = "CodigoProduto", @readonly = "readonly" })


    @Html.Label("Lote")
    @Html.TextBoxFor(a => a.Lote, new { id = "LoteProduto" })
    @Html.ValidationMessageFor(x => x.Lote)

    @Html.Label("Quantidade")
    @Html.TextBoxFor(a => a.Quantidade, new { id = "QuantidadeProduto" })
    @Html.ValidationMessageFor(x => x.Quantidade)

    @Html.Label("Data Entrada")
    @Html.EditorFor(a => a.DataEntrada, "{0:dd/MM/yyyy}", new { id = "DataEntradaProduto" })
    @Html.ValidationMessageFor(x => x.DataEntrada)

    @Html.Label("Categoria")
    @Html.TextBoxFor(a => a.Categoria, new { id = "CategoriaProduto" })
    @Html.ValidationMessageFor(x => x.Categoria)

    @Html.Label("Preço")
    @Html.TextBoxFor(a => a.Valor, new { @class = "money", id = "ValorProduto" })
    @Html.ValidationMessageFor(x => x.Valor)

    @Html.Label("Descrição")
    @Html.TextAreaFor(a => a.Descricao, new { style = "Resize:none; overflow: hidden;height: 160%", id = "DescricaoProduto" })
    @Html.ValidationMessageFor(x => x.Descricao)

    <button id="btnSalvarProduto" type="submit" style="margin-top: 10%; width:25%;">Salvar  </button>
</div>
    }


}

<form action="/Home/Index" method="get">
    <input type="submit" value="Cancelar" id="frm1_submit" style="width:12.5%" />
</form>





