﻿@model Usuario
@{
    ViewData["Title"] = "Login Usuário";
}
<h2>@ViewData["Title"]</h2>


@using (Html.BeginForm("Cadastrar", "CadastroUsuario", FormMethod.Post))
{
<div style="display:grid; width:25%;">
    @Html.Label("Email")
    @Html.TextBoxFor(a => a.email)
     @Html.ValidationMessageFor(x => x.email)

    @Html.Label("Senha")
    @Html.TextBoxFor(a => a.Senha)
      @Html.ValidationMessageFor(x => x.Senha)

    @{
            List<SelectListItem> listItems = new List<SelectListItem>();
            listItems.Add(new SelectListItem
            {
                Text = "Usuario",
                Value = "2",
                Selected = true
            });
            listItems.Add(new SelectListItem
            {
                Text = "Administrador",
                Value = "1"

            });
        }
        @Html.DropDownListFor(model => model.TipoPerfil, listItems, new {style="margin-top: 10px;" })
</div>
    <button type="submit" style="margin-top:10px;">Salvar</button>

}
