﻿@model Projeto_Estoque.Elementos.DTO.ProdutoDTO
@{
    Layout = "_LayoutLogado";
    Usuario usuario = Usuario.GetInstance();
}
@{
    ViewData["Title"] = "Consulta Produto";
}
<h2>@ViewData["Title"]</h2>
<h3 id="MensagemCadastroProduto">@ViewData["Message"]</h3>



<script>
    var listaObjeto = [];
    var dataObject;

  
    dataObject = {
        "name": document.getElementById("MensagemCadastroProduto").innerText
    }
      

    function consultaProdutos() {

        var dataValue = {
            "nomeProduto": document.getElementById("MensagemCadastroProduto").innerText,
        };
       
        $.ajax({
            type: "GET",
            url: "/Consulta/ListaPorNome/",
           contentType: 'application/json; charset=utf-8',
           dataType: 'json',
            data:dataValue ,            
            success: function (data) {
                listaObjeto = data;
             //   $("#MensagemCadastroProduto").html(data.categoria);
                criarListaProdutos();
            },
           
        });
    }
    consultaProdutos();

    @*function criarListaProdutos() {
        for (var i = 0; i < listaObjeto.length; i++) {

            var objeto = listaObjeto[i];
            var lista = document.createElement('li');
            var link = document.createElement('a');
            link.setAttribute('href', '@Url.Action("AlterarProduto","Cadastro")' + '?Codigo=' + objeto.codigo + '&lote=' + objeto.lote
            )
            lista.appendChild(link);
            link.appendChild(document.createTextNode(objeto.nome + ' - ' + objeto.codigo + ' - ' + objeto.lote));
            var listaObjetos = document.getElementById('listaProdutos');
            listaObjetos.appendChild(lista);
            }
    }*@

     function criarListaProdutos() {
        for (var i = 0; i < listaObjeto.length; i++) {

            var objeto = listaObjeto[i];
            var lista = document.createElement('li');
            var produto = document.createElement('p');
            produto.classList.add("textoConsulta");
            lista.appendChild(produto);
            produto.appendChild(document.createTextNode(objeto.nome + ' - ' + objeto.codigo + ' - ' + objeto.lote));

            
            var linkAlterarProduto = document.createElement('a');
            linkAlterarProduto.classList.add("linkConsulta");
            linkAlterarProduto.setAttribute('href', '@Url.Action("AlterarProduto","Cadastro")' + '?Codigo=' + objeto.codigo + '&lote=' + objeto.lote
            );
            linkAlterarProduto.appendChild(document.createTextNode("Alterar produto"));

            var linkAlterarPorLote = document.createElement('a');
            linkAlterarPorLote.classList.add("linkConsulta");
            linkAlterarPorLote.setAttribute('href', '@Url.Action("Transacao","Transacao")' + '?Codigo=' + objeto.codigo + '&lote=' + objeto.lote
            );
            linkAlterarPorLote.appendChild(document.createTextNode("Perda/Venda"));
            
            @*var addPerdaVenda = document.createElement('a');
            addPerdaVenda.classList.add("linkConsulta");
            addPerdaVenda.setAttribute('href', '@Url.Action("PerdaVenda","Cadastro")' + '?Codigo=' + objeto.codigo
            );
            addPerdaVenda.appendChild(document.createTextNode("Perda/Venda"));*@ 

            lista.appendChild(linkAlterarProduto);
            lista.appendChild(linkAlterarPorLote);
            //lista.appendChild(addPerdaVenda);


            var listaObjetos = document.getElementById('listaProdutos');
            listaObjetos.appendChild(lista);
            }
    }


    
    //function consultaProduto(indice) {
        
    //    var Produto = new Object();
    //    Produto.Nome = listaObjeto[indice].nome;
    //    Produto.Descricao = listaObjeto[indice].descricao;
    //    Produto.Codigo = listaObjeto[indice].codigo;
    //    Produto.Valor = listaObjeto[indice].valor;
    //    Produto.Categoria = listaObjeto[indice].categoria;


    //    $.ajax({
    //        type: 'POST',
    //        url: '/Cadastro/ConsultarProduto/',
    //        dataType: 'json',
    //        data:  Produto,
    //        success: function (data) {
    //            redirecionamento = data;
    //        },
    //    });
    //}
  
   

</script>
<div>
    
    <p>Produtos:</p>

    <ul id="listaProdutos"></ul>

</div>