﻿@{
    Layout = "_LayoutLogado";
}
@{
    ViewData["Title"] = "Não Autorizado";
}
<div style="margin:15%">
    <b> Você não tem autorização para acessar essa página. Contacte o administrador do Sistema.</b>
    <a asp-area="" asp-controller="Home" asp-action="Index">Voltar</a>
</div>

