﻿@model IEnumerable<Projeto_Estoque.Elementos.DTO.ProdutoDTO>
@*@model Projeto_Estoque.Elementos.DTO.ProdutoDTO*@

@*@Html.Partial("~/Views/Shared/_LayoutLogado.cshtml", new Projeto_Estoque.Elementos.DTO.ProdutoDTO())*@
@{

    Layout = "_LayoutLogado";

}
@{
    ViewData["Title"] = "Projeto Estoque";
}

<div>
    <div class="divTable">
        <h3>Resumo Estoque</h3>
        <table id="tg-xQLBb" class="tg">
            <thead>
                <tr>
                    <th class="tg-ul38">Código</th>
                    <th class="tg-ul38">Produto</th>
                    <th class="tg-ul38">Categoria</th>
                    <th class="tg-ul38">Valor</th>
                    <th class="tg-ul38">Estoque</th>
                    <th class="tg-ul38">Lote</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    foreach (var item in Model)
                    {
                <tr>


                    <td class="tg-0lax">@item.Codigo </td>
                    <td class="tg-0lax">@item.Nome</td>
                    <td class="tg-0lax">@item.Categoria</td>
                    <td class="tg-0lax">@item.Valor</td>
                    <td class="tg-0lax">@item.Quantidade</td>
                    <td class="tg-0lax">@item.Lote</td>
                </tr>
                    }
                }

            </tbody>
        </table>
    </div>
</div>
