﻿@model Usuario
@{
    ViewData["Title"] = "Login Usuário";
}
<h2>@ViewData["Title"]</h2>

@using (Html.BeginForm("Logar", "Login", FormMethod.Post))
{
<div>
    @Html.Label("Email: ")
    @Html.TextBoxFor(a => a.email, new { style = "margin-left: 10px;" })
    @Html.ValidationMessageFor(a => a.email)
</div>
   

<div>
    @Html.Label("Senha: ")
    @Html.PasswordFor(a => a.Senha, new { style = "margin-left: 5px;" })
    @Html.ValidationMessageFor(x => x.Senha)

</div>
    <button type="submit" style="margin: 10px 10px 10px 40px;">Logar <i class="glyphicon glyphicon-user"></i></button>
    
}

@using (Html.BeginForm("Cadastro", "CadastroUsuario", FormMethod.Post))
{
    <div>
        <p> </p>
        <button type="submit" style="margin: 10px 10px 10px 40px;">Cadastrar usuário</button>
    </div>


}