﻿@model  List<Relatorio>
@{
    Layout = "_LayoutLogado";
}
@{
    ViewData["Title"] = "Relatório por Produto";
}
<h2>@ViewData["Title"]</h2>


<div>
    <div class="divTable">
        <h3>Relatório - Vendas</h3>
        <table id="tg-xQLBb" class="tg">
            <thead>
                <tr>
                    <th class="tg-ul38">Nome</th>
                    <th class="tg-ul38">Codigo</th>
                    <th class="tg-ul38">Lote</th>
                    <th class="tg-ul38">QuantidadeTransação</th>
                    <th class="tg-ul38">Tipo Transação</th>
                    <th class="tg-ul38">Responsável</th>
                    <th class="tg-ul38">Data Saída</th>
                    <th class="tg-ul38">Data atualização</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    List<Relatorio> listaRelatorio = Model;
                    listaRelatorio = listaRelatorio.Where(T => T.TIPO_TRANSACAO == "VENDA").ToList();
                    foreach (var item in listaRelatorio)
                    {               <tr>


    <td class="tg-0lax">@item.NOME </td>
    <td class="tg-0lax">@item.CODIGO</td>
    <td class="tg-0lax">@item.LOTE</td>
    <td class="tg-0lax">@item.QUANTIDADE_TRANSACAO</td>
    <td class="tg-0lax">@item.TIPO_TRANSACAO</td>
    <td class="tg-0lax">@item.EMAIL</td>
    <td class="tg-0lax">@item.DATA_SAIDA</td>
    <td class="tg-0lax">@item.DATA_ATUALIZACAO</td>

</tr>
                    }
                }

            </tbody>
        </table>
    </div>
</div>
<div>
    <div class="divTable">
        <h3>Relatório - Perda</h3>
        <table id="tg-xQLBb" class="tg">
            <thead>
                <tr>
                    <th class="tg-ul38">Nome</th>
                    <th class="tg-ul38">Codigo</th>
                    <th class="tg-ul38">Lote</th>
                    <th class="tg-ul38">QuantidadeTransação</th>
                    <th class="tg-ul38">Tipo Transação</th>
                    <th class="tg-ul38">Responsável</th>
                    <th class="tg-ul38">Data Saída</th>
                    <th class="tg-ul38">Data atualização</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    List<Relatorio> listaRelatorio = Model;
                    listaRelatorio = listaRelatorio.Where(T => T.TIPO_TRANSACAO == "PERDA").ToList();
                    foreach (var item in listaRelatorio)
                    {
                <tr>


                    <td class="tg-0lax">@item.NOME </td>
                    <td class="tg-0lax">@item.CODIGO</td>
                    <td class="tg-0lax">@item.LOTE</td>
                    <td class="tg-0lax">@item.QUANTIDADE_TRANSACAO</td>
                    <td class="tg-0lax">@item.TIPO_TRANSACAO</td>
                    <td class="tg-0lax">@item.EMAIL</td>
                    <td class="tg-0lax">@item.DATA_SAIDA</td>
                    <td class="tg-0lax">@item.DATA_ATUALIZACAO</td>

                </tr>
                    }
                }

            </tbody>
        </table>
    </div>
</div>
<div>
    <div class="divTable">
        <h3>Relatório - Adição</h3>
        <table id="tg-xQLBb" class="tg">
            <thead>
                <tr>
                    <th class="tg-ul38">Nome</th>
                    <th class="tg-ul38">Codigo</th>
                    <th class="tg-ul38">Lote</th>
                    <th class="tg-ul38">QuantidadeTransação</th>
                    <th class="tg-ul38">Tipo Transação</th>
                    <th class="tg-ul38">Responsável</th>
                    <th class="tg-ul38">Data Saída</th>
                    <th class="tg-ul38">Data atualização</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    List<Relatorio> listaRelatorio = Model;
                    listaRelatorio = listaRelatorio.Where(T => T.TIPO_TRANSACAO == "ADIÇÃO").ToList();
                    foreach (var item in listaRelatorio)
                    {
                <tr>


                    <td class="tg-0lax">@item.NOME </td>
                    <td class="tg-0lax">@item.CODIGO</td>
                    <td class="tg-0lax">@item.LOTE</td>
                    <td class="tg-0lax">@item.QUANTIDADE_TRANSACAO</td>
                    <td class="tg-0lax">@item.TIPO_TRANSACAO</td>
                    <td class="tg-0lax">@item.EMAIL</td>
                    <td class="tg-0lax">@item.DATA_ENTRADA</td>
                    <td class="tg-0lax">@item.DATA_ATUALIZACAO</td>

                </tr>
                    }
                }

            </tbody>
        </table>
    </div>
</div>

  