﻿@model Projeto_Estoque.Elementos.DTO.TransacaoDTO
@{

    Layout = "_LayoutLogado";

}
@{
    ViewData["Title"] = "Transação de Produto";
}
@{
    Usuario usuario = Usuario.GetInstance();
}


<h2>@ViewData["Title"]</h2>
<h3 style="margin-top:3%">@ViewData["Message"]</h3>
<h3 style="margin-top:3%" id="MensagemCadastroProduto"></h3>
<script>
    $(document).ready(function () {
        // your code

        var str = window.location.href;
        var parametro = "Sucesso";
        var aux = str.substring(str.length, str.length - parametro.length);
        $("#MensagemCadastroProduto").html("");
        var params = getSearchParameters();
        if (aux == 'Sucesso')
            $("#MensagemCadastroProduto").html("Produto Cadastrado com sucesso!");

        //else if (JSON.stringify(params).length >2 'undefined' || params != null) {
        //    $.ajax({
        //        type: "GET",
        //        url: "/Cadastro/ConsultarProduto/",
        //        contentType: 'application/json',
        //        data: parametro,
        //        success: function (data) {


        //            $('#NomeProduto').text = data.nome;
        //            $('#CategoriaProduto').text = data.categoria;
        //            $('#CodigoProduto').text = data.codigo;
        //            $('#LoteProduto').text = data.lote;
        //            $('#ValorProduto').val = data.valor;
        //            $('#DescricaoProduto').text = data.descricao;
        //            $('#LoteProduto').text = data.lote;

                    @*@if (usuario.TipoPerfil != TipoPerfil.Administrador)
                        {

                              $('#NomeProduto').attr('disabled');
                        $('#CategoriaProduto').attr('disabled');
                        $('#ValorProduto').attr('disabled');
                        $('#DescricaoProduto').attr('disabled');

                        }*@

            //    },

            //});
       // }


    });
</script>
@using (Html.BeginForm("PerdaVenda", "Transacao", FormMethod.Post))
{
    @if (usuario.TipoPerfil == (int)Projeto_Estoque.Enumerador.TipoPerfil.Usuario ||
      usuario.TipoPerfil == (int)Projeto_Estoque.Enumerador.TipoPerfil.Administrador)
    {

        
<div style="display:grid; width:50%">
    @Html.TextBoxFor(a => a.produtoDTO.IdProduto, new { id = "id", style = "visibility:hidden", @readonly = "readonly" })

    @Html.Label("Produto")
    @Html.TextBoxFor(a => a.produtoDTO.Nome, new { id = "NomeProduto", @readonly = "readonly" })
    

    @Html.Label("Codigo")
    @Html.TextBoxFor(a => a.produtoDTO.Codigo, new { id = "CodigoProduto", @readonly = "readonly" })


    @Html.Label("Lote")
    @Html.TextBoxFor(a => a.produtoDTO.Lote, new { id = "LoteProduto", @readonly = "readonly" })


    @Html.Label("Quantidade")
    @Html.TextBoxFor(a => a.produtoDTO.Quantidade, new { id = "QuantidadeProduto", @readonly = "readonly" })
  

    @Html.Label("Categoria")
    @Html.TextBoxFor(a => a.produtoDTO.Categoria, new { id = "CategoriaProduto", @readonly = "readonly" })
    


    @Html.Label("Data Entrada")
    @Html.TextBoxFor(a => a.produtoDTO.DataEntrada, "{0:dd/MM/yyyy}", new { id = "DataEntradaProduto", @readonly = "readonly" })
   

    @Html.Label("Preço")
    @Html.TextBoxFor(a => a.produtoDTO.Valor, new { @class = "money", id = "ValorProduto", @readonly = "readonly" })
    

    @Html.Label("Descrição")
    @Html.TextAreaFor(a => a.produtoDTO.Descricao, new { style = "Resize:none; overflow: hidden;height: 160%", id = "DescricaoProduto", @readonly = "readonly" })
    



</div>



        <div style="display:grid; width:50%;margin-top: 5%;">
            @{
                List<SelectListItem> listItems = new List<SelectListItem>();
                listItems.Add(new SelectListItem
                {
                    Text = "Venda",
                    Value = "1",
                    Selected = true
                });
                listItems.Add(new SelectListItem
                {
                    Text = "Perda",
                    Value = "2"

                });
            }
            @Html.DropDownListFor(model => model.TipoTransacao, listItems)


            @Html.Label("Data Saida")
            @Html.EditorFor(a => a.DataSaida, "{0:dd/MM/yyyy}", new { id = "DataSaidaTransacao" })
            @Html.ValidationMessageFor(x => x.DataSaida)

            @Html.Label("Quantidade")
            @Html.TextBoxFor(a => a.QuantidadeTransacao, new { id = "QuantidadeProdutoTransacao" })
            @Html.ValidationMessageFor(x => x.QuantidadeTransacao)


            <button id="btnSalvarTransacao" type="submit" style="margin-top: 1%; width:25%;">Salvar  </button>

        </div>
    }
}
<form action="/Home/Index" method="get">
    <input type="submit" value="Cancelar" id="frm1_submit" style="width:12.5%" />
</form>





